:host
  display: block
  overflow: hidden
  width: 555px
  height: 200px
  background: #2d2d2d

#embedWeather
  position: relative
  top: -40px
  overflow: hidden
  margin: 0
  padding: 0
  width: 100%
  border: none