:host
  display: flex
  flex-direction: column
  padding: 2px 0

  background: #3a2444;

h1
  font-size: 80%;
  font-weight: normal;
  color: #7a4b90;
  text-shadow: 1px 1px 0 black;

.event .time { font-size: 80%; }
.event.allDay { font-style: italic; }
.event.passed { opacity: .2; }
.feed-kberk { color: #ff0000; }
.feed-jm { color: #ffff00; }
.feed-goog1 { color: #ff00ff; }
.feed-goog2  { color: #00ff00; }
.feed-kgmail { color: #00ffff; }
.feed-holiday { color: #aaaa00; }
.feed-dgmail { color: #66ff00; }
.feed-goog3 { color: #aaa; display: none; }
